*
{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.EntireBack
{
  background-color: rgba(220, 220, 220, 0.281);
  font-family: 'Archivo';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 15px;
}
.MainHeader
{

  background-color: rgba(244, 165, 96, 0.747);
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  overflow: hidden;
  font-weight: 700;
  color: white;
  background-image: linear-gradient(to right bottom ,rgba(255, 218, 185, 0.849),rgba(250, 128, 114, 0.534)) ,url(studyIm.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 1000px, 0 100%);
  border-bottom-right-radius: 200px;
  letter-spacing: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
}
.logo
{
  height: 37px;
}
#navBar
{
  background-color: rgba(228, 99, 39, 0.849);
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 100px;
}
#navBar ul
{

  list-style: none;
}
#navBar li
{
  display: inline;
}
#navBar a
{
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  padding-right: 125px;
}
.body-crap
{
    background-size: cover;
    background-color: rgba(220, 220, 220, 0.281);
    padding-top: 20px;
    padding-bottom: 500px;
}
.InfoOnUsHeader
{
  font-family: 'Metrophobic';
  color: #DEB887;
  display: block;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  padding-right: 15px;
  text-decoration: underline;

}
.block
{
  float:left;
  width: 33.3%;
  padding-left: 100px;
}
.shapePic
{
  clip-path: circle(37%);
}
.block-text
{
  float:left;
  width: 33.3%;
  padding-left: 160px;
  box-sizing: border-box;
}
.Name
{
  font-family: 'Metrophobic';
  color: #DEB887;
  text-align: left;
}
.Mission-Crap
{
  background-size: cover;
  background-color: rgba(220, 220, 220, 0.281);
  padding-top: 20px;
  padding-bottom: 170px;
  padding-left: 30px;
}
.MissionHeader
{
  font-family: 'Metrophobic';
  color: #DEB887;
  display: block;
  text-align: center;
  text-decoration: underline;
  font-size: 30px;
  letter-spacing: 7px;
}
.Mission-contain
{
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 40px;
}
.Mission-p1
{
  text-indent: 50px;
}
.Mission-p2
{
  text-indent: 50px;
}
.foot-end
{
  background: black;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
  text-transform: uppercase;
  /*
  background-size: cover;
  background-color: rgba(255, 218, 185, 0.849);
  position: absolute;
  */
}
#footerNavBar
{
  color: white;
}
#footerNavBar ul
{
  list-style: none;
}
#footerNavBar li
{
  display: inline;
}
#footerNavBar a
{
  color: white;
  text-decoration: none;
  font-size: 14px;
  padding-right: 1px;
}
