*
{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body
{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 15px;
}
.header
{
  height: 70vh;
  background-image: linear-gradient(to right bottom ,rgba(255, 218, 185, 0.849),rgba(250, 128, 114, 0.534)) ,url(studyIm.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 1000px, 0 100%);
  border-bottom-right-radius: 200px;
}
.logo-box
{
  position: absolute;
  top: 5px;
  left: 10px;
}
.logo
{
  height: 50px;
}
.logo:hover
{
  transform: rotate(45deg);
}
.textBoxLogo
{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.headingPrimary
{
  color:#ffffff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 60px;
}
.heading-primary-main
{
  display: block;
  font-size: 70px;
  font-weight: 400;
  letter-spacing: 35px;
  animation-name: moveInLeft;
  animation-timing-function: ease-out;
  animation-duration: 2s;

}
.heading-primary-bottom
{
  display: block;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 3px;
  animation-name: moveDown;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}
@keyframes moveInLeft
{
  0%
  {
    opacity: 0;
    transform: translateX(-100px);
  }
  100%
  {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveDown
{
  0%
  {
    opacity: 0;
    transform: translateY(-5px);
  }
  100%
  {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveDownButton
{
  0%
  {
    opacity: 0;
    transform: translateY(30px);
  }
  100%
  {
    opacity: 1;
    transform: translate(0);
  }
}
.btn:link,
.btn:visited /*we dont want the color of the button to change when pressed so the two are placed together*/
{
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 15px; /*15 for top and bottom, 40 for left and right*/
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
}
.btn:hover
{
  transform: scale(1.2,1.2);
  box-shadow: 0 10px 20px rgba(0,0,0,.9);
}
.btn:active
{
  transform: scale(.7,.7);
  box-shadow: 0 5px 10px rgba(0,0,0,.9);
}
.btn-white
{
  background-color: #ffffff;
  color:#DEB887;
}
.body-crap
{
    background-size: cover;
    background-color: rgba(220, 220, 220, 0.281);
    margin-top: -350px;
}
.writing
{
  padding-top: 460px;
  padding-left: 10px;
  padding-bottom: 300px;

}
.Intro-logo
{
  font-family: 'Aguafina Script';
  color: #DEB887;
  display: block;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 20px;
  text-align: center;

}
.Intro-contain
{
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 40px;
}
.Intro-p1
{
  text-indent: 50px;
  letter-spacing: 2px;
  line-height: 2;
}
.Intro-p2
{
  text-indent: 50px;
  letter-spacing: 2px;
  line-height: 2;
}
.Click-explore
{
  padding-top: 10px;
  text-align: center;
  letter-spacing: 2px;
}
.In-txt-Explore-btn
{
  text-decoration: none;
  color: #777;
}
.foot-end
{
  background: black;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  text-transform: uppercase;

  /*
  background-size: cover;
  background-color: rgba(255, 218, 185, 0.849);
  position: absolute;
  */
}
#footerNavBar
{
  color: white;
}
#footerNavBar ul
{
  list-style: none;
}
#footerNavBar li
{
  display: inline;
}
#footerNavBar a
{
  color: white;
  text-decoration: none;
  font-size: 14px;
  padding-right: 1px;
}

/*
bottom: 0;

height: 2.5rem;

border-right: 1px #A9A9A9 solid;
border-left: 1px #A9A9A9  solid;
border-top: 1px #A9A9A9  solid;
border-bottom: 1px #A9A9A9  solid;
*/
